* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    background-color: #fff;
}

.logo {
    padding: 20px 0 0 20px;
    height: 70px;
}

.main-content {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1000px;
    width: 100%;
}


.left-side {
    flex: 1;
    text-align: center;
}

.left-side h1 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-img {
    max-height: 450px; 
    width: auto;
}


.right-side {
    width: 400px;
    padding-left: 40px;
    border-left: 1px solid #dbdbdb;
}

.login-box, .actions-box {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    height: 40px;
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    padding: 0 10px;
    margin-bottom: 8px;
}

button {
    width: 100%;
    height: 36px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
}

.btn-login {
    background-color: #0095f6;
    color: white;
    margin-top: 10px;
}

.forgot-link {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    color: #00376b;
    margin-top: 12px;
}

.social-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    height: 40px;
    margin: 20px 0 10px;
    cursor: pointer;
    font-size: 14px;
}

.btn-new-acc {
    background: white;
    color: #0095f6;
    border: 1px solid #0095f6;
}

.meta-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;
    color: #8e8e8e;
}

.gradient {
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}

.footer {
    height: 80px;
    border-top: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #8e8e8e;
}

.footer-links a {
    color: #8e8e8e;
    text-decoration: none;
    margin: 0 10px;
}